<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h2>Nearby Public Restrooms</h2>

      <a href="/restrooms/new" class="btn btn-success">New Restroom Information</a>

      <br>
      <br>

      <% include ../search/index.ejs %>

      <br>

      <ul class="list-group">

        <% restrooms.forEach((restroom) => { %>

          <li class="list-group-item">
            <a href="/restrooms/<%= restroom.id %>"> <%= restroom.title %> </a>
          </li>
        <% }) %>
      </ul>

    </main>
    <% include ../static/partials/baseScripts.ejs %>
    <footer class="page-footer font-small blue pt-4">
      <div class="footer-copyright text-center py-3">© 2018 Restroom Finder  Icons by
      <a href="https://icons8.com/icon/7562/toilet-bowl">Icons8</a>,
      <a href="http://creativecommons.org/licenses/by/3.0/">CC</a>,
      <a data-file="002-man" href="https://www.flaticon.com/authors/ocha">OCHA</a>,
      <a data-file="005-wheelchair" href="http://www.freepik.com">Freepik</a>
      </div>
    </footer>
  </body>
</html>
