<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Nearby Public Restrooms</h1>

      <ul class="list-group">

        <% restrooms.forEach((restroom) => { %>

          <li class="list-group-item">
            <a href="/restrooms/<%= restroom.id %>"> <%= restroom.title %> </a>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>
</html>
