<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <h1>New Restroom Information</h1>

      <form action="/restrooms/create" method="post">
        <div class="form-group">
          <label for="title">Location Name</label>
          <input type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Location Name">
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <textarea rows="2" class="form-control" name="address" placeholder="Enter address"></textarea>
        </div>
        <div class="form-group">
          <label for="title">Gender:</label>
          <input type="checkbox" name="gender" value="Male" onclick="printChecked()"> Male
          <input type="checkbox" name="gender" value="Female" onclick="printChecked()"> Female
          <input type="checkbox" name="gender" value="All Gender" onclick="printChecked()"> All Gender
        </div>
        <div class="form-group">
          <label for="title">Accessibility:</label>
          <input type="checkbox" name="accessibility" value="Wheelchair" onclick="printChecked(this)"> Wheelchair
          <input type="checkbox" name="accessibility" value="Stroller" onclick="printChecked(this)"> Stroller
        </div>
        <div class="form-group">
          <label for="title">Facility:</label>
          <input type="checkbox" name="facility" value="Sink" onclick="printChecked(this)"> Sink
          <input type="checkbox" name="facility" value="Diaper Changing Table" onclick="printChecked(this)"> Diaper Changing Table
          <input type="checkbox" name="facility" value="Drinking Fountain" onclick="printChecked(this)"> Drinking Fountain
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>
    <script>
      function printChecked(cb){
        return cb.checked;
      }
    </script>

  </body>
</html>
