<!DOCTYPE html>
  <html lang="en">
    <head>
      <% include ./partials/head.ejs %>
    </head>

    <body>
      <% include ./partials/navbar.ejs  %>

      <main class="container">
        <header class="jumbotron my-4">
          <h1 class="display-3 text-center"> Restroom Finder </h1>
          <p class="lead text-center"> Waze for finding a nearby public restroom </p>
        </header>

        <section class="row text-center">

          <section class="col-lg-12">
            <h4 class="card-title"> New to the area and don't know where the public restrooms are?</h4>
          </section>

          <section class="col-lg-12">
            <h4 class="card-title"> Have children in toilet training? </h4>
          </section>

          <section class="col-lg-12">
            <h4 class="card-title"> Have elderly mamber in your family who need to go to the restroom frequently?</h4>
          </section>

          <section class="col-lg-12">
            <h3> No worries! We will find a restroom for you! </h3>
          </section>

        </section>

      </main>
        <% include ./partials/baseScripts.ejs  %>

      <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3">© 2018 Restroom Finder
        <a href="https://icons8.com/icon/7562/toilet-bowl">Toilet Bowl icon by Icons8</a>
        </div>
      </footer>
    </body>
  </html>
